html {
  background: #000;
  text-transform: uppercase;
}

h1 {
  color: hsl(332, 87%, 61%);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 4rem;
}

.keys {
  align-content: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

kbd {
  font-size: 2rem;
}

span {
  color: hsl(332, 87%, 61%);
}

.key {
  border: white 0.2rem solid;
  padding: 0.5rem 2.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.746);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.07s;
  width: 1rem;
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: hsl(332, 87%, 61%);
  box-shadow: 0 0 0.7rem hsl(332, 87%, 61%);
}

p {
  color: white;
}

@media (min-width: 900px) {
  .keys {
    gap: 3rem;
    margin-top: 4rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  kbd {
    font-size: 4rem;
  }

  .key {
    width: 2rem;
  }
}
